.container {
  width: 950px; /* ancho */
  background-color: grey; /* color de fondo */
  padding: 20px; /* relleno */
  margin: 0px auto; /* Alinear horizontalmente el contenedor */
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Colocar elementos en columna */
}

.nav {
  height: 150px; /* Alto del elemento */
  background-color: green;
  margin-bottom: 20px; /* Asigna margen inferior */
}

.main {
  background-color: red;
  width: 700px;
  height: 400px;
  display: flex; /* Activar flexbox para el área principal */
  padding: 10px;
}

.nav-secundario {
  height: 300px;
  width: 150px;
  background-color: blue;
  margin-right: 20px;
}

.main-content {
  display: flex; /* Activar flexbox para los elementos dentro de main */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.yellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
  margin: 10px;
}

.purple {
  width: 660px;
  height: 120px;
  margin: 10px;
}